/*
 * Styles for the control bar.
 */

html, body {
    font-family: sans-serif;
}

#controlbar {
    top: 10px;
    left: 10px;
    right: 10px;
    position: fixed;
    /*width: 100% - 20px;*/
    background-color: rgba(0, 0, 0, 0);
    color: #F0F0F0;
}

#controlbar .control {
    display: inline-flex;
    margin: 3px;
    padding: 3px;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#controlbar .control .preview {
    height: 50px;
    width: 50px;
    margin: 3px;
}

#controlbar #custom.control .custominput {
    border: 0px;
    padding: 0px;
    display: block;
    box-sizing: content-box;
}

#controlbar #delete.control .preview {
    background-color: #FFF;
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-image:
        linear-gradient(
            45deg,
            black 25%,
            transparent 25%,
            transparent 75%,
            black 75%,
            black),
        linear-gradient(
            45deg,
            black 25%,
            transparent 25%,
            transparent 75%,
            black 75%,
            black);
}

/* For the currently selected control */
#controlbar .control.selected {
    background-color: rgba(0, 0, 0, 0.4);
}
